<p id="notice"><%= notice %></p>

<h1>Juridicas</h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Razao</th>
      <th>Fantasia</th>
      <th>Telefone</th>
      <th class="botoes_index">Visualizar</th>
      <th class="botoes_index">Editar</th>
      <th class="botoes_index">Deletar</th>
    </tr>
  </thead>

  <tbody>
    <% @juridicas.each do |juridica| %>
      <tr>
        <td><%= juridica.cnpj %></td>
        <td><%= juridica.razao %></td>
        <td><%= juridica.fantasia %></td>
        <td><%= juridica.telefone%></td>
        <td><%= link_to 'Visualizar', juridica, class: "btn btn-success botoes_juridicas" %></td>
        <td><%= link_to 'Editar', edit_juridica_path(juridica), class: "btn btn-warning botoes_juridicas" %></td>
        <td><%= link_to 'Deletar', juridica, method: :delete, data: { confirm: "Você tem certeza que deseja deletar #{juridica.fantasia} do banco de dados ?" }, class: "btn btn-danger botoes_juridicas" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Pessoa Jurídica', new_juridica_path, class: "btn btn-primary botoes_juridicas" %>
