<p id="notice"><%= notice %></p>

<h1>Juridicas</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Razao</th>
      <th>Fantasia</th>
      <th>Telefone</th>
      <th>Endereco</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @juridicas.each do |juridica| %>
      <tr>
        <td><%= juridica.cnpj %></td>
        <td><%= juridica.razao %></td>
        <td><%= juridica.fantasia %></td>
        <td><%= juridica.telefone %></td>
        <td><%= juridica.endereco %></td>
        <td><%= juridica.token %></td>
        <td><%= link_to 'Show', juridica %></td>
        <td><%= link_to 'Edit', edit_juridica_path(juridica) %></td>
        <td><%= link_to 'Destroy', juridica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Juridica', new_juridica_path %>
