<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1>Pessoas Fisicas</h1>

<table class="table table-bordered table-dark">
  <thead class="table thead-dark">
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Endereco</th>
      <th>Token</th>
      <th>Visualizar</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
  </thead>

  <tbody>
    <% @fisicas.each do |fisica| %>
      <tr>
        <td><%= fisica.nome %></td>
        <td><%= fisica.cpf %></td>
        <td><%= fisica.telefone %></td>
        <td><%= fisica.endereco %></td>
        <td><%= fisica.token %></td>
        <td><%= link_to 'Visualizar', fisica, class: "btn btn-success botoes_fisicas" %></td>
        <td><%= link_to 'Editar', edit_fisica_path(fisica), class: "btn btn-warning botoes_fisicas" %></td>
        <td><%= link_to 'Deletar', fisica, method: :delete, data: { confirm: "Tem certeza que deseja deletar #{fisica.nome} do banco de dados de pessoas físicas?" }, class: "btn btn-danger botoes_fisicas" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fisica', new_fisica_path %>
