
<!-- Se tem algum resultado(criação ou atualização, ele vai mandar a mensagem 
  respectiva ao assunto. "Criado com sucesso ou Atualizado com sucesso") -->

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<!-- Título -->

<h1>Pessoas Físicas</h1>

<div class="table-responsive">
  <table class="table table-bordered table-dark ">
  <thead class="table thead-dark">
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th class="botoes_index">Visualizar</th>
      <th class="botoes_index">Editar</th>
      <th class="botoes_index">Deletar</th>
    </tr>
  </thead>

<!-- Para cada cadastro que tem no banco de dados, vai ser mostrada as informações cadastradas -->

  <tbody>
    <% @fisicas.each do |fisica| %>
      <tr>
        <td><%= fisica.nome %></td>
        <td><%= fisica.cpf %></td>
        <td><%= fisica.telefone %></td>
        <td><%= link_to 'Visualizar', fisica, class: "btn btn-success botoes_fisicas" %></td>
        <td><%= link_to 'Editar', edit_fisica_path(fisica), class: "btn btn-warning botoes_fisicas" %></td>
        <td><%= link_to 'Deletar', fisica, method: :delete, data: { confirm: "Tem certeza que deseja deletar #{fisica.nome} do banco de dados de pessoas físicas?" }, class: "btn btn-danger botoes_fisicas" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Adicionar Pessoa Física', new_fisica_path, class: "btn btn-primary botoes_fisicas" %>
