<!-- Se tem algum resultado(criação ou atualização, ele vai mandar a mensagem 
  respectiva ao assunto. "Criado com sucesso ou Atualizado com sucesso") -->

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <label>Nome:</label>
    <input type="text" name="nome" class="form-control" disabled="disabled" value="<%= @fisica.nome%>">
  </div> 
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <label>CPF:</label>
    <input type="text" name="cpf" class="form-control" disabled="disabled" value="<%= @fisica.cpf%>">
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <label>Telefone:</label>
    <input type="text" name="telefone" class="form-control" disabled="disabled" value="<%= @fisica.telefone%>">
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <label>Endereço:</label>
    <input type="text" name="endereco" class="form-control" disabled="disabled" value="<%= @fisica.endereco%>">
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <label>Nome:</label>
    <input type="text" name="token" class="form-control" disabled="disabled" value="<%= @fisica.token%>">
  </div>
</div>

<div class="botoes_center">
  <%= link_to 'Editar', edit_fisica_path(@fisica), class: "btn btn-default" %> |
  <%= link_to 'Voltar', fisicas_path, class: "btn btn-default" %>
</div>