<!-- Se tem algum resultado(criação ou atualização, ele vai mandar a mensagem 
  respectiva ao assunto. "Criado com sucesso ou Atualizado com sucesso") -->

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%=image_tag("avatarfeminino.jpg", size: "200x200", class: "avatar")%>
    <%=image_tag("5stars.jpg", size: "140x40", class: "avatar")%>
    <label></label>
  </div>
  <div class="col-md-6">
    <label>Nome:</label>
    <input type="text" name="nome" class="form-control" disabled="disabled" value="<%= @fisica.nome%>">
    <label>CPF:</label>
    <input type="text" name="cpf" class="form-control" disabled="disabled" value="<%= @fisica.cpf%>">
    <label>Telefone:</label>
    <input type="text" name="telefone" class="form-control" disabled="disabled" value="<%= @fisica.telefone%>">
    <label>Endereço:</label>
    <input type="text" name="endereco" class="form-control" disabled="disabled" value="<%= @fisica.endereco%>">
    <label>Nome:</label>
    <input type="text" name="token" class="form-control" disabled="disabled" value="<%= @fisica.token%>">
  </div> 
</div>

<div class="botoes_center">
  <%= link_to 'Editar', edit_fisica_path(@fisica), class: "btn btn-default" %> |
  <%= link_to 'Voltar', fisicas_path, class: "btn btn-default" %>
</div>