<!DOCTYPE html>
<html>
  <head>
    <title>CheckIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navbar CheckIn -->

     <%= nav_bar brand: "CheckIn", brand_link: root_path, responsive: true, class:"navbar_main" do %>
        <%= menu_group do %>
            <%= menu_item "Página Inicial", root_path %>
            <%= menu_item "Pessoa Física", fisicas_path %>
            <%= menu_item "Pessoa Juridica", juridicas_path %>            
        <% end %>
      
    <% end %>

    <!--Centralizando o conteúdo com o container do Bootstrap-->
    <div class="container">
      <%= yield %>
    </div>  
  </body>
</html>
